@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';
:root {
  --black-color: #000000;
}
.bg-black {
  background-color: var(--black-color);
}
.text-black {
  color: var(--black-color);
}
body {
  font-family: 'Poppins', sans-serif;
}
