@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';
:root {
  --black-color: #000000;
}
.bg-black {
  background-color: var(--black-color);
}
.text-black {
  color: var(--black-color);
}
body {
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}
html,
body,
#root {
  @apply bg-black;
}
* {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
